# sudo ln -s /home/ubuntu/cygnum/cygnum-test.service /etc/systemd/system/cygnum-test.service
[Unit]
Description=Gunicorn instance to serve cygnum
PartOf=cygnum.service
After=cygnum.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/ubuntu/cygnum
Environment="PATH=/home/ubuntu/cygnum/env/bin"
Environment="CYGNUM_CONFIG=/home/ubuntu/cygnum/instance/config-test.py"
ExecStart=/home/ubuntu/cygnum/env/bin/gunicorn --config gunicorn-conf-test.py wsgi:app

[Install]
WantedBy=cygnum.service

