# sudo ln -s /home/ubuntu/cygnum/cygnum.service /etc/systemd/system/cygnum.service
[Unit]
Description=Cygnum Gunicorn Services
After=network.target

[Service]
# The dummy program will exit
Type=oneshot
# Execute a dummy program
ExecStart=/bin/true
# This service shall be considered active after start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
