boto3==1.18.12
botocore==1.21.12
click==8.0.1
connection-pool==0.0.3
dataclasses==0.8
dnspython==1.16.0
docutils==0.17.1
eventlet==0.31.1
Flask==2.0.1
greenlet==1.1.0
gunicorn==20.1.0
importlib-metadata==4.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
monotonic==1.6
pipupgrade==1.9.0
pkg_resources==0.0.0
pysqs-extended-client==0.0.1
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
